{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": true,
  "printWidth": 120
}
